/* Link fonts */
@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: normal;
  src: local("PTSans"), url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");
}

@font-face {
  font-family: "PTSans";
  font-weight: 700;
  font-style: normal;
  src: local("PTSans"), url(../fonts/ptsansbold.woff2),
    url(../fonts/ptsansbold.woff);
}

/* Fonts, color and background-color style*/
/* General styles */
body {
  font-family: "PTSans", "Arial", sans-serif;
  color: black;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-transform: uppercase;
}

.list-style-none li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Page index */
.main-page {
  text-align: center;
}

/* Header styles */
.main-navigation__list a {
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

/* Information styles */
.info-main {
  background-color: #68a0ae;
}

.info-main p {
  line-height: 26px;
}

.info-main p:first-of-type {
  font-weight: bold;
}

.info-main p:last-of-type {
  font-size: 14px;
}

/* Advantages & conditions styles */
.advantages__content {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages__content span {
  font-weight: bold;
}

.advantages__content h3,
.attractions__list h3 {
  font-size: 21px;
}

.advantages__content p,
.conditions__list p {
  font-size: 14px;
}

.attractions-main li,
.attractions__list li {
  background-color: #eeeeee;
}

.attractions-main p,
.attractions__list p {
  color: #333333;
  font-size: 14px;
}

/* Search styles */
.search-hotels p:first-of-type {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.search-hotels p:last-of-type {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.search-hotels__open-form[type="button"] {
  background-color: #766357;
  color: #ffffff;
  line-height: 26px;
  font-weight: bold;
}

.search-hotels button,
.search-hotels input {
  border: none;
  line-height: 26px;
  text-transform: uppercase;
}

.search-hotels label,
.search-hotels input[type="date"],
.search-hotels input[type="number"] {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  line-height: 26px;
}

.search-hotels input[type="number"] {
  text-align: center;
}

.search-hotels input[type="date"],
.search-hotels input[type="number"] {
  background-color: #f2f2f2;
}

.search-hotels button[type="submit"] {
  background-color: #81b3d2;
  color: white;
  font-weight: bold;
}

/* Footer styles */
.main-footer {
  font-weight: bold;
  text-align: center;
  line-height: 26px;
}

.main-footer a {
  color: black;
  line-height: 26px;
  text-decoration: none;
}

/* Page hotels */
/* Filters style */
.filter-hotels {
  background-color: #455760;
  color: white;
  text-align: left;
}

.filter-hotels legend {
  font-size: 16px;
  font-weight: bold;
}

.filter-hotels label {
  font-size: 14px;
}

.filter-hotels input[type="number"] {
  background-color: #455760;
  border: none;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.filter-hotels button[type="submit"] {
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: none;
  text-align: left;
}

/* Sort style */
.sort-hotels span:first-of-type {
  line-height: 26px;
  font-weight: bold;
}

.sort-hotels span:last-of-type {
  font-size: 12px;
  line-height: 18px;
}

.sort-hotels a {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.sort-hotels .dashed {
  border-bottom: 1px dashed #81b3d2;
}

.sort-hotels .sort-hotels__active--link {
  border: none;
  color: #81b3d2;
}

/* List hotels style */
.list-hotels__title a {
  line-height: 26px;
  text-decoration: none;
  color: black;
}

.list-hotels p {
  font-size: 14px;
  color: #333333;
}

.list-hotels li p:last-of-type {
  text-align: center;
  background-color: #f2f2f2;
  color: #666666;
}

.list-hotels__detail,
.list-hotels__reserve {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.list-hotels__detail {
  background-color: #81b3d2;
}

.list-hotels__reserve {
  background-color: #766357;
}

/* Layout style */
html,
body {
  min-width: 1280px;
  min-height: 2762px;
}

body {
  background-image: url("../img/sedona-index.jpg");
  background-size: 1280px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.main-container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Header style */
.main-header {
  margin-bottom: 30px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation__logo {
  order: 2;
  width: 140px;
  height: 72px;
}

.main-navigation__list {
  display: flex;
  width: 1280px;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 717;
}
