/* Link fonts */
@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");
}

@font-face {
  font-family: "PTSans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
}

/* Fonts, color and background-color style*/
/* General styles */
body {
  font-family: "PTSans", "Arial", sans-serif;
  color: black;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.no-arrow {
  -moz-appearance: textfield;
}

.text-center {
  text-align: center;
}

/* Page index */
/* Header styles */
.main-navigation__list a {
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  /* text-align: center; */
  text-decoration: none;
  text-transform: uppercase;
}

/* Information styles */
.info-main {
  background-color: #68a0ae;
}

.info-main p {
  line-height: 26px;
  text-transform: uppercase;
}

.info-main__paragraph-1 {
  font-weight: bold;
}

.info-main__paragraph-2 {
  font-size: 14px;
}

/* Advantages & conditions styles */
.advantages__content {
  background-color: #81b3d2;
  color: white;
}

.advantages__content span {
  font-weight: bold;
}

.advantages__content h3 {
  text-transform: uppercase;
}

.advantages__content h3,
.attractions__list h3 {
  font-size: 21px;
}

.advantages__content p,
.conditions__list p {
  font-size: 14px;
  text-transform: uppercase;
}

.conditions__list h4 {
  text-transform: uppercase;
}

.attractions__list {
  background-color: #eeeeee;
}

.attractions__list p {
  color: #333333;
  font-size: 14px;
}

.attractions__list h3 {
  text-transform: uppercase;
}

.attractions__list p:nth-of-type(2) {
  text-transform: uppercase;
}

/* Search styles */
.search-hotels {
  position: relative;
}

.search-hotels form {
  position: absolute;
  top: 100%;
  margin: 0 auto;
  z-index: 100;
  background-color: white;
}

.search-hotels p:first-of-type {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.search-hotels p:nth-of-type(2) {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
}

.search-hotels__open-form {
  background-color: #766357;
  color: #ffffff;
  font-weight: bold;
}

.search-hotels label {
  text-transform: uppercase;
}

.search-hotels button,
.search-hotels input {
  border: none;
  line-height: 26px;
  text-transform: uppercase;
}

.search-hotels label,
.search-hotels .date-chek-in-out,
.search-hotels .count-clients,
.search-hotels .open-calendar {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.search-hotels .count-clients {
  text-align: center;
}

.search-hotels .date-chek-in-out,
.search-hotels .count-clients {
  background-color: #f2f2f2;
}

.search-hotels .submit-form {
  background-color: #81b3d2;
  color: white;
  font-weight: bold;
}

/* Footer styles */
.main-footer p,
.main-footer p {
  text-transform: uppercase;
}

.main-footer {
  font-weight: bold;
  line-height: 26px;
}

.main-footer a {
  color: black;
  line-height: 26px;
  text-decoration: none;
}

/* Page hotels */
/* Filters style */
.filter-hotels {
  background-color: #455760;
  color: white;
  text-align: left;
}

.filter-hotels fieldset {
  border: none;
}

.filter-hotels legend {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-hotels label {
  font-size: 14px;
  text-transform: uppercase;
}

.filter-hotels .range-price {
  background-color: #455760;
  border: none;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: white;
}

.filter-hotels .submit-form {
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: none;
  text-align: left;
}

/* Sort style */
.sort-hotels span:first-of-type {
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.sort-hotels span:nth-of-type(2) {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-hotels a {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort-hotels .dashed {
  border-bottom: 1px dashed #81b3d2;
}

.sort-hotels .sort-hotels__active--link {
  border: none;
  color: #81b3d2;
}

/* List hotels style */
.list-hotels__title a {
  line-height: 26px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.list-hotels p {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}

.list-hotels li p:last-of-type {
  text-align: center;
  background-color: #f2f2f2;
  color: #666666;
}

.list-hotels__detail,
.list-hotels__reserve {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.list-hotels__detail {
  background-color: #81b3d2;
}

.list-hotels__reserve {
  background-color: #766357;
}

/* Layout style */
/* Page index */
html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-container {
  background-size: 1280px auto;
  background-repeat: no-repeat;
  background-position: left top;
  max-width: 1280px;
  /* Временно, для определения высоты */
  min-height: 2762px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

/* Header style */
/* .main-header {
  margin-bottom: 76px;
} */

.main-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-navigation__logo {
  position: absolute;
  top: 0;
  left: calc(50% - 70px);
  order: 2;
  width: 140px;
  height: 72px;
}

.main-navigation__list {
  display: flex;
  /* width: 100%; */
  align-items: center;
  height: 56px;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Info style */
.info-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 61px;
}

.info-main img {
  margin-bottom: 140px;
}

.info-main p:first-of-type {
  width: 440px;
  margin-bottom: 38px;
}

/* Advantages style */
.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.conditions__list {
  /* Временно, для определения высоты */
  height: 290px;
}

.conditions__list,
.attractions__list {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.attractions__list {
  /* Временно, для определения высоты */
  height: 256px;
}

.attractions__list li {
  margin-right: 56px;
}

.attractions__list li:nth-of-type(3n) {
  margin-right: 0;
}

/* Search-hotels style */
.search-hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-hotels p:first-of-type {
  margin-top: 100px;
}

.search-hotels__open-form {
  width: 568px;
  /* Временно, для определения высоты */
  height: 86px;
}

.search-hotels form {
  width: 568px;
  /* Временно, для определения высоты */
  height: 395px;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Map style */
.map {
  /* position: relative; */
  /* top: -395px; */
  width: 100%;
}

/* Footer style */
.main-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list li {
  margin: 5px;
}

/* Page hotels */
.hotels-container {
  background-size: 1280px auto;
  background-repeat: no-repeat;
  background-position: left top;
  max-width: 1280px;
  /* Временно, для определения высоты */
  min-height: 933px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.filter-hotels form {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}

.filter-hotels {
  /* Временно, для определения высоты */
  min-height: 217px;
}

.filter-hotels .infrastructure-list,
.filter-hotels .type-housing-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Sort-hotelsstyle */
.sort-hotels {
  display: flex;
  align-items: center;
  /* Временно, для определения высоты */
  min-height: 86px;
}

.sort-hotels span:first-of-type {
  width: 160px;
  margin-left: 72px;
  margin-right: 49px;
}

.sort-hotels__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* List-hotels style*/
.list-hotels__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-hotels__list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 72px;
  /* justify-content: space-between; */
}

.list-hotels__list li img {
  margin-right: 30px;
}

.list-hotels__inner-1 {
  width: 800px;
}

.list-hotels__list .list-hotels__rating {
  align-self: flex-end;
}

/*  Decoration style */
/* Page index */
.main-navigation__list a {
  display: block;
  width: 300px;
}

.main-navigation__list--left {
  text-align: left;
}

.main-navigation__list--right {
  text-align: right;
}

.info-main {
  background-image: url(../img/intro-mask.svg), url(../img/background-photo.jpg);
  background-repeat: no-repeat, no-repeat;
}
/*
.list-hotels__inner-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.list-hotels__inner-1 div {
  width: 500px;
  margin-bottom: 10px;
}

.list-hotels__inner-1 p {
  display: inline-block;
  margin: 0;
}

.list-hotels__inner-1 p:first-of-type {
  margin-right: 30px;
}

.list-hotels__inner-1 a:first-of-type {
  margin-right: 10px;
}

.list-hotels__img {
  order: -1;
} */
