/* Link fonts */
@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");
}

@font-face {
  font-family: "PTSans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
}

/* Fonts, color and background-color style*/
/* General styles */
body {
  min-width: 1200px;
  font-family: "PTSans", "Arial", sans-serif;
  color: black;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.no-arrow {
  -moz-appearance: textfield;
}

.text-center {
  text-align: center;
}

/* Page index */
/* Header styles */
.main-header {
  background-color: white;
}

.main-navigation__list a {
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Information styles */
.welcome-main {
  background-color: #68a0ae;
}

.info-main p {
  line-height: 26px;
  text-transform: uppercase;
}

.info-main__paragraph-1 {
  font-weight: bold;
}

.info-main__paragraph-2 {
  font-size: 14px;
}

/* Advantages & conditions styles */
.advantages__content {
  background-color: #81b3d2;
  color: white;
}

.advantages__content span {
  font-weight: bold;
}

.advantages__content h3 {
  text-transform: uppercase;
}

.advantages__content h3,
.attractions__list h3 {
  font-size: 21px;
}

.conditions__container {
  background-color: white;
}

.advantages__content p,
.conditions__list p {
  font-size: 14px;
  text-transform: uppercase;
}

.conditions__list h4 {
  text-transform: uppercase;
}

.attractions__list {
  background-color: #eeeeee;
}

.attractions__list p {
  color: #333333;
  font-size: 14px;
}

.attractions__list h3 {
  text-transform: uppercase;
}

.attractions__list p:nth-of-type(2) {
  text-transform: uppercase;
}

/* Search styles */
.hidden {
  display: none;
}

.no-js .hidden {
  display: block;
}

.no-js .search-hotels__container{
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
}

.search-hotels {
  background-color: white;
  position: relative;
}

.search-hotels__container {
  position: absolute;
  top: 100%;
  left: 316px; /* for support IE11*/
  z-index: -1;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.search-hotels__container--slide-in {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  z-index: 1;
}

.search-hotels form {
  background-color: white;
}

.search-hotels p:first-of-type {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.search-hotels p:nth-of-type(2) {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
}

.search-hotels__open-form {
  cursor: pointer;
  background-color: #766357;
  color: #ffffff;
  font-weight: bold;
}

.search-hotels label {
  text-transform: uppercase;
}

.search-hotels button,
.search-hotels input {
  border: none;
  line-height: 26px;
  text-transform: uppercase;
}

.search-hotels label,
.search-hotels .date-check-in-out,
.search-hotels .count-clients,
.search-hotels .open-calendar {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  padding: 0;
}

.search-hotels__inner-adults-children button {
  padding: 0;
}

.search-hotels .count-clients {
  text-align: center;
}

.search-hotels .date-check-in-out,
.search-hotels .count-clients {
  background-color: #f2f2f2;
  border: solid 2px #f2f2f2
}

.search-hotels .submit-form {
  cursor: pointer;
  background-color: #81b3d2;
  color: white;
  font-weight: bold;
}

/* Footer styles */
.main-footer p,
.main-footer p {
  text-transform: uppercase;
}

.main-footer {
  font-weight: bold;
  line-height: 26px;
}

.main-footer a {
  color: black;
  line-height: 26px;
  text-decoration: none;
}

/* Page hotels */
/* Filters style */
.filter-hotels {
  background-color: #2a3e45;
  color: white;
  text-align: left;
}

.filter-hotels fieldset {
  border: none;
}

.filter-hotels legend {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-hotels label {
  font-size: 14px;
  text-transform: uppercase;
}

.filter-hotels .range-price {
  background-color: #455760;
  border: none;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: white;
}

.filter-hotels .submit-form {
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: none;
  text-align: left;
}

/* Sort style */
.sort-hotels__found {
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.sort-hotels__sorting {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 40px;
}

.sort-hotels__list a {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort-hotels .dotted {
  border-bottom: 1px dotted #81b3d2;
}

.sort-hotels .sort-hotels__active--link {
  border: none;
  color: #81b3d2;
}

/* List hotels style */
.list-hotels {
  background-color: white;
}

.list-hotels__title a {
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.list-hotels p {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}

.list-hotels__rating {
  text-align: center;
  color: #666666;
}

.list-hotels__detail,
.list-hotels__reserve {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.list-hotels__detail {
  background-color: #81b3d2;
}

.list-hotels__reserve {
  background-color: #766357;
}

/* Layout style */
/* Page index */
html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.main__wrapper,
.hotels__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-bg-color {
  background-color: #f2f2f2;

}

.main-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 140px;
  height: 72px;
}

.main-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Info style */
.info-main {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.welcome-main__logo {
  display: block;
  padding-top: 76px;
  padding-bottom: 79px;
  margin-left: auto;
  margin-right: auto;
}

.info-main__paragraph-1 {
  width: 443px;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 26px;
}

.info-main__paragraph-2 {
  margin: 0;
  padding: 0;
  margin-bottom: 52px;
}

/* Advantages style */
.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__content--right {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  max-width: 307px;
  width: 100%;
}

.advantages__container span {
  width: 215px;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 23px;
}

.conditions__list,
.attractions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.attractions__list {
  min-height: 256px;
}

.attractions__list li {
  margin-right: 56px;
}

/* Search-hotels style */
.search-hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-hotels__open-form {
  max-width: 568px;
  width: 100%;
  padding: 30px 5px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 26px;
  position: relative;
  z-index: 3;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  20%,
  40%,
  60% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }

  30%,
  50%,
  70% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  20%,
  40%,
  60% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }

  30%,
  50%,
  70% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}

.modal-error {
  -webkit-animation: shake 0.7s;
  animation: shake 0.7s;
}

.search-hotels__form {
  width: 568px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 52px;
  padding-bottom: 55px;
  padding-left: 55px;
  padding-right: 55px;
}

/* Map style */
.map {
  max-width: 1200px;
  width: 100%;
  height: 593px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Footer style */
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
   -ms-flex-preferred-size: 156px;
  flex-basis: 156px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer__social-list li {
  margin-right: 6px;
  margin-bottom: 6px;
}

.main-footer__social-list li:nth-child(3n) {
  margin-right: 0;
}

/* Page hotels */
.filter-hotels form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-hotels .infrastructure-list,
.filter-hotels .type-housing-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Sort-hotels style */
.sort-hotels {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-top: 29px;
  padding-bottom: 31px;
  padding-left: 71px;
  padding-right: 71px;
}

.sort-hotels__found {
  min-width: 120px;
  margin-right: 44px;
}

.sort-hotels__list {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-hotels__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* List-hotels style*/
.list-hotels__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-hotels__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 26px;
  padding-left: 72px;
  padding-right: 72px;
}

.list-hotels__list li img {
  margin-right: 30px;
}

/*  Decoration style */
/* Page index */
img {
  max-width: 100%;
  height: auto;
}

.main-container {
  position: relative;
}

/* Header styles */
.main-navigation__logo img {
  width: 140px;
  height: 72px;
}

.main-navigation__list {
  padding: 0 56px;
}

.main-navigation__list li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 15px;
  max-width: 242px;
  width: 100%;
}

.main-navigation__list li:nth-child(4n-2),
.main-navigation__list li:nth-child(4n-1) {
  max-width: 302px;
  width: 100%;
}

.main-navigation__list li:nth-child(4n-1),
.main-navigation__list li:nth-child(4n) {
  text-align: right;
}

.main-navigation__list a {
  display: block;
}

/* Information styles */
.welcome-main{
  background-image: url(../img/intro-mask.svg), url(../img/background-photo.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position:  0 bottom, 50% 28.5%;
}

.welcome-main__logo  {
  width: 459px;
  /* height: 353px; */
}

/* Advantages & conditions styles */
.advantages__content h3 {
  margin: 0;
}

.advantages__content span {
  display: block;
}

.advantages__content p {
  margin: 0;
  padding: 0;
}

p.advantages__paragraph-1 {
  margin-bottom: 22px;
}

h3.advantages__title {
  margin-top: 46px;
  margin-bottom: 22px;
}

.advantages__paragraph-2 {
  width: 100%;
}

.conditions__list {
  margin-top: 60px;
  margin-bottom: 83px;
}

.conditions__item {
  width: 400px;
}

.conditions__item p {
  max-width: 287px;
  width: 100%;
  margin: 0 auto;
}

.conditions__incons {
  margin: 0;
  margin-bottom: 23px;
}

.conditions__incons::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 76px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: top center;
}

.conditions__incons--housing::before   {
  background-position-y: bottom;
  background-image: url(../img/icon-1.svg);
}

.conditions__incons--food::before   {
  background-position-y: bottom;
  background-image: url(../img/icon-2.svg);
}

.conditions__incons--souvenirs::before   {
  background-position-y: bottom;
  background-image: url(../img/icon-3.svg);
}

.attractions__list p,
.attractions__list h3 {
  margin: 0;
}

.attractions__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}

.attractions__list .attractions__title {
  max-width: 158px;
  width: 100%;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 24px;
}

.attractions__list .attractions__paragraph-1 {
  margin-bottom: 21px;
}

.attractions__list .attractions__paragraph-2 {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.attractions__item:nth-child(2) .attractions__paragraph-2 {
  width: 265px;
}

/* Search styles */
.search-hotels__paragraph-1 {
  margin: 0;
  margin-top: 51px;
  margin-bottom: 23px;
}

.search-hotels__paragraph-2 {
  margin: 0;
  margin-bottom: 47px;
}

.search-hotels__form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search-hotels__conteiner-date {
  margin-bottom: 24px;
}

.search-hotels__conteiner-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-hotels__conteiner-date label {
  min-width: 91px;
  margin-right: 20px;
}

.open-calendar {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-hotels__conteiner-date .date-check-in-out {
  max-width: 346px;
  width: 100%;
  padding: 7px;
}

.search-hotels__inner-adults-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-hotels__container-adults,
.search-hotels__container-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-hotels__container-adults label {
  margin-right: 40px;
}

.search-hotels__container-children label {
  margin-left: 55px;
  margin-right: 26px;
}

.search-hotels__container-adults button,
.search-hotels__container-adults .count-clients,
.search-hotels__container-children button,
.search-hotels__container-children .count-clients {
  width: 38px;
  min-height: 40px; /* for support IE11*/
  padding: 7px;
}

.search-hotels__container-adults .count-clients,
.search-hotels__container-children .count-clients  {
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-hotels__inner-adults-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 54px;
}

.search-hotels .submit-form {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 17px;
  padding-right: 17px;
}

.search-hotels__conteiner-date input {
  min-height: 40px; /* for support IE11*/
  padding: 5px;
}

/* Footer styles */
.main-footer__container-1 {
  max-width: 225px;
  width: 100%;
  margin-right: -55px;
}

.main-footer__container-1 p {
  margin: 0;
}

.main-footer__social-button {
  background-color: #81b3d2;
  display: inline-block;
  text-align: center;
  width: 48px;
  height: 46px;
  padding: 10px 13px;
}

.main-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.main-footer__copyright span {
  align-self: flex-start;
  margin-top: 7px;
}

.main-footer__copyright a {
  margin-left: 10px;
}

.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
  padding-top: 38px;
  padding-bottom: 31px;
  padding-left: 132px;
  padding-right: 101px;
  max-width: 1200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 100;
}

/* Page hotels */
/* Header style */
.hotels-container {
  position: relative;
}

/* Filters style */
.filter-hotels {
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 -270px;
  padding-top: 26px;
  padding-bottom: 7px;
  padding-left: 72px;
  padding-right: 72px;
}

.filter-hotels fieldset {
  margin: 0;
  padding: 0;
}

.filter-hotels .filter__infrastructure {
  margin-right: 119px;
}

.filter-hotels .filter__type-housing {
  margin-right: auto;
  /* margin-right: 306px; */
}

.filter-hotels .range-price {
  background-color: transparent;
}

/* Filter range style - demos7*/
.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 11px;
  margin-left: 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: 12px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50.5%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  cursor: pointer;
}

.price-controls .min-price {
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 75px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-controls input::-webkit-input-placeholder {
  color: white;
}

.price-controls input::-moz-placeholder {
  color: white;
  opacity: 1;
}

.price-controls input:-ms-input-placeholder {
  color: white;
}

.price-controls input::-ms-input-placeholder {
  color: white;
}

.price-controls input::placeholder {
  color: white;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
  margin-left: 15px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 10px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle::before {
  position: absolute;
  content: "";
  border: 3px solid #adadad;
  border-radius: 50%;

  top: -3px;
  left: -3px;

}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: -2px;
}

.range-toggle-max {
  left: 79.5%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 33px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/* Filter range style - demos7 */

/* Sort style */
.sort-hotels__list li {
  padding-right: 33px;
}

.sort-hotels__list {
  margin-right: auto;
}

.sort-hotels__direction li:first-of-type {
  padding-right: 14px;
}

/* List hotels style */
.list-hotels__list li {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.list-hotels__inner-1 {
  max-width: 780px;
  width: 100%;
  margin-right: auto;
}

.list-hotels__inner-1 h3 {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 6px;
}

.list-hotels__inner-2 p {
  margin: 0;
  margin-right: 22px;
  margin-bottom: 15px;
  min-width: 95px;
}

.list-hotels__inner-2 p:nth-child(even) {
  margin-right: 0;
}

.list-hotels__inner-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-hotels__detail {
  max-width: 110px;
  width: 100%;
  margin-right: 6px;
  padding: 3px 7px;
  text-align: center;
  font-weight: bold;
}

.list-hotels__reserve {
  max-width: 142px;
  width: 100%;
  padding: 3px 7px;
  text-align: center;
  font-weight: bold;
}

.list-hotels__rating-star {
  display: inline-block;
  height: 17px;
  width: 100%;
  background-image: url(../img/star.svg);
  background-repeat: space;
  background-position: right;
}

.list-hotels__rating-star--4 {
  width: 80%;
  margin-left: auto;
}

.list-hotels__rating-star--3 {
  width: 58%;
  margin-left: auto;
}

.list-hotels__rating-star--2 {
  width: 36%;
  margin-left: auto;
}

.list-hotels__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  margin: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list-hotels__rating-value {
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 11px;
}

/* Footer styles */
.main-footer--hotels {
  position: static;
}

/* Styleguide */
/* Main navigation */
.main-navigation__list a:hover,
.main-navigation__list a:focus {
  color: #81b3d2;
}

.main-navigation__list a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.main-navigation__list--current {
  color: #766357;
}

/* Sort hotels */
.sort-hotels__list a:hover,
.sort-hotels__list a:focus {
  color: #81b3d2;
}

.sort-hotels__list a:active {
  color: black;
}

.sort-hotels__direction path {
  color: #cacaca;
}

.sort-hotels__direction a:hover path,
.sort-hotels__direction a:focus path {
  fill: black;
}

.sort-hotels__direction a:active path {
  fill: #81b3d2;
}

/* List hotels */
.list-hotels__detail:hover,
.list-hotels__detail:focus {
  background-color: #669ec0;
}

.list-hotels__detail:active {
  background-color: #5496bd;
}

.list-hotels__reserve:hover,
.list-hotels__reserve:focus {
  background-color: #604e43;
}

.list-hotels__reserve:active {
  background-color: #503e33;
}

.list-hotels__title a:hover,
.list-hotels__title a:focus {
  color: #81b3d2;
}

.list-hotels__title a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Form searh hotels */
.search-hotels__open-form:hover,
.search-hotels__open-form:focus {
  background-color: #604e43;
}

.search-hotels__open-form:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-hotels__open-form:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-hotels__form label {
  cursor: pointer;
}

.search-hotels__form {
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.date-check-in:hover,
.date-check-in-out:hover,
.count-clients:hover {
  background-color: #ebebeb;
  border: solid 2px #ebebeb;
}

.date-check-in:focus,
.date-check-in-out:focus,
.count-clients:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}


.date-check-in::-webkit-input-placeholder,
.date-check-in-out::-webkit-input-placeholder,
.count-clients::-webkit-input-placeholder {
  color: black;
}

.date-check-in::-moz-placeholder,
.date-check-in-out::-moz-placeholder,
.count-clients::-moz-placeholder {
  color: black;
  opacity: 1;
}

.date-check-in:-ms-input-placeholder,
.date-check-in-out:-ms-input-placeholder,
.count-clients:-ms-input-placeholder {
  color: black;
}

.date-check-in::-ms-input-placeholder,
.date-check-in-out::-ms-input-placeholder,
.count-clients::-ms-input-placeholder {
  color: black;
}

.date-check-in::placeholder,
.date-check-in-out::placeholder,
.count-clients::placeholder {
  color: black;
}

.search-hotels__inner-adults-children button {
  cursor: pointer;
  font-weight: bold;
  color: #a9a9a9;
}

.search-hotels__inner-adults-children button:hover,
.search-hotels__inner-adults-children button:focus {
  color: black;
}

.search-hotels__inner-adults-children button:active {
  color: #81b3d2;
}

.search-hotels__inner-adults-children button:disabled {
  cursor: default;
  opacity: 0.2;
  color: black;
}

.open-calendar {
  cursor: pointer;
}

.open-calendar path {
  fill: #cacaca;
}

.open-calendar:hover path,
.open-calendar:focus path {
  fill: black;
}

.open-calendar:active path {
  fill: #81b3d2;
}

.open-calendar:disabled path {
  cursor: default;
  opacity: 0.1;
  fill: black;
}

.search-hotels__form .submit-form:hover,
.search-hotels__form .submit-form:focus {
  background-color: #669ec0;
}

.search-hotels__form .submit-form:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search-hotels__form .submit-form:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/* Social icons */
.main-footer__social-button:hover,
.main-footer__social-button:focus {
  background-color: #669ec0;
}

.main-footer__social-button:active {
  background-color: #5496bd;
}

.main-footer__social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

/* HTML Academy */
.main-footer__copyright a:hover path,
.main-footer__copyright a:focus path {
  fill: #81b3d2;
}

.main-footer__copyright a:active path {
  fill: #bdbbbc;
}

/* Style checkbox, filter form*/
/* checkbox css default */
.login-checkbox,
.filter-swim-pool {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.infrastructure-list li,
.type-housing-list li {
  margin-bottom: 25px;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator,
.filter-swim-pool input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

/* checked */
 .filter-swim-pool input[type="checkbox"]:checked + .checkbox-indicator {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

/* disabled */
.filter-swim-pool input[type="checkbox"]:disabled + .checkbox-indicator {
  width: 27px;
  background-image: url("../img/checkbox-off-disabled.svg");
}

/* checked+disabled */
.filter-swim-pool input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  width: 27px;
  background-image: url("../img/checkbox-on-disabled.svg");
}

.infrastructure-list label,
.type-housing-list label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.filter__infrastructure legend,
.filter__type-housing legend {
  margin-bottom: 25px;
}
